<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <form id="designation-form">
      <div class="mb-3">
        <label class="form-label">Create Designation</label>
        <input
          type="text"
          class="form-control"
          id="designation-input"
          aria-describedby="emailHelp"
          placeholder="Enter Your Designation"
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </div>
    </form>
    <a href="../index.html">Back To Home</a>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr no</th>
            <th scope="col">Designation</th>
            <th scope="col">Button</th>
          </tr>
        </thead>
        <tbody id="tbody"></tbody>
      </table>
    </div>
    <script src="../js/designation.js"></script>
  </body>
</html>
